# --- Security & Secrets ---
.env
auth.json

# --- Docker & Database ---
db_data/
mysql/init_with_data.sql
docker/mysql/data/

# --- Dependencies ---
vendor/
node_modules/

# --- OS & IDE Junk ---
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
my assets/
my assets.zip
myStuff/

# --- Logs ---
*.log

